@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    min-width: 0;
    box-sizing: border-box;
    /* border: 1px solid yellow; */
}

/* h1 {
    font-family: "Bebas Neue", sans-serif;
} */

h1, h2, h3, h4, h5, h6, a, button {
    font-family: "Montserrat", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
}

.hamburguer-transition {
    transition: left 0.7s ease-in-out;
}

.contorno {
    text-shadow: 
        1px 1px 0px #00000075, /* Right shadow */
        -1px 1px 0px #00000071, /* Left shadow */
        1px -1px 0px #00000080, /* Top shadow */
        -1px -1px 0px #0000004f; /* Bottom shadow */

}